<%- include ('header', {pageTitle: 'Projects'}) -%>
<main class="mt-5">
  <section>
    <div class="container">
      <div class="row align-items-center">
        <h3>Users</h3>
        <a href="user-new.html" type="button" class="btn btn-secondary ml-4">
          Add new
          <object type="image/svg+xml" data="./assets/img/plus-solid.svg" width="15"></object>
        </a>
      </div>
      <div class="row mt-5 user-row">
        <div class="card-deck">
          <div class="card">
            <img src="./assets/img/undraw_female_avatar_w3jk.svg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
          <div class="card">
            <img src="./assets/img/undraw_female_avatar_w3jk.svg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
          <div class="card">
            <img src="./assets/img/undraw_female_avatar_w3jk.svg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
          <div class="card">
            <img src="./assets/img/undraw_female_avatar_w3jk.svg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class="card-deck">
          <div class="card">
            <img src="./assets/img/undraw_female_avatar_w3jk.svg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
          <div class="card">
            <img src="./assets/img/undraw_female_avatar_w3jk.svg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
          <div class="card">
            <img src="./assets/img/undraw_female_avatar_w3jk.svg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
          <div class="card">
            <img src="./assets/img/undraw_female_avatar_w3jk.svg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include ('footer') -%>
